.blog-filter-soru {margin-top: 31px; margin-bottom: 40px;}
.container-blog {margin: 75px 0 70px 0;}
.filter-ul-blog {width: 100%; list-style: none; font-family: var(--font-400); display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.filter-ul-blog li {transition: .3s linear; padding: 5.5px 0;}
.item-filter-blog {text-decoration: none; color: var(--black-soru); transition: .3s linear;}
.item-filter-blog:hover {font-weight: 600;}
.selected-blog {font-weight: 600;}
.filter-ul-blog li:hover {transform: scale(.9); color: var(--black-soru);}

/*================ GRID ARTICLE ================*/
.grid-layout-blog {display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 55px; grid-auto-rows: minmax(100px, auto); list-style: none;}
.image-blog {object-fit: cover; height: 310px; width: 100%;}
.container-info-blog {padding: 25px 0; position: relative; background: #fff;}
.title-article-list {font-size: 15px; font-weight: 600; margin-right: 20px; line-height: 18px;}
.flex-title-article {margin-bottom: 21px; display: flex; align-items: flex-start; justify-content: space-between;}
.article_date-list {font-size: 12px; font-weight: 400; text-align: end;}
.content-arlticle-list {font-size: 15px; font-weight: 400; line-height: 18px;}
.link-article-btn {color: var(--green-soru); font-weight: 600;}
.tag-hashtag { font-size: 12px; color: var(--black-soru); font-weight: 400;}

.buttons-articles-list {display: flex; align-items: center; overflow: hidden; justify-content: space-between; margin-top: 23px;}

.btn-animation-blog {transition: .3s linear;}
.article__tag {transition: .3s linear;}

/* .list-item-article:hover .btn-animation-blog {transform: translateX(100px);}
.container-animation:hover .article__tag {transform: translateX(100px); opacity: 0;}
.container-article:hover .container__tag {transform: translateY(-40px);} */

.container-tag {position: relative; transition: .5s ease;}

.tag-hashtag_description {padding: 5px 12px; margin-right: 10px; background: var(--green-soru); border-radius: 5px; color: white; }
.container__tag {display: flex; justify-content: flex-end; position: absolute; transition: .3s ease; width: 100%;}


.pagination-container {margin-top: 21px;}
.pagination-list {text-align: center; list-style: none; display: flex; justify-content: center; align-items: center;}
.pagination-list button[disabled] {display: none;}
.pagination-list li {padding: 0 5px;}
.pagination-list a {color: var(--black-soru); font-size: 15px;}

@media screen and (max-width: 1041px) {
  .grid-layout-blog {grid-template-columns: repeat(2, 1fr);}
}

@media screen and (max-width: 767px) {
  .grid-layout-blog {grid-template-columns: repeat(1, 1fr);}
  .container-blog {margin: 20px 0 52px 0;}
  .blog-filter-soru {margin-top: 20px; margin-bottom: 20px;}
  .item-filter-blog {font-size: 12px;}
}