{% comment %}
  ly_global_begin
{% endcomment %}
{% capture ly-global-content %}
  {% render 'ly-global' render:true %}
{% endcapture %}
{% assign ly-global-content = ly-global-content | split: '#ly#' %}
{% assign langify_title = ly-global-content[0] %}
{% assign langify_description = ly-global-content[1] %}
{% assign langify_shop_name = ly-global-content[2] %}
{% assign langify_shop_description = ly-global-content[3] %}
{% assign canonical_langify_url = ly-global-content[4] %}
{% assign langify_shop_url = ly-global-content[5] %}
{% assign langify_shop_domain = ly-global-content[6] %}
{% comment %}
  ly_global_end
{% endcomment %}
<div class="width-panda">
  <div class="recomendations-container">
    {%- if section.settings.heading != blank -%}
      <h2 class="styleTitleRecomendations align-center margin-title-recomendations">{{ section.settings.heading | escape }}</h2>
    {%- endif -%}
    <ul class="grid-products-recomendations">
      {% for tag in product.tags %}
        {% assign _tag = tag | split: '-' %}
        {% if _tag.size > 1 and _tag.first == 'r' %}
          {% liquid 
            assign product_handle = tag | replace: 'r-', ''
            assign product = all_products[product_handle]
          %}
          <li>

            {% render 'template-card'
              product: product, 
              bg_class : "bg_card",
              image_class : "height-card-image",
              tag_class : "tag-objective",
              name_class : "name_product",
              description_class : "description_product",
              price_class : "price_product",
              discount_class: "price_compare",
              button_class : "btn-card-main",
              choices_class : "btn-choices-card",
              padding_class : "padding-card",
              form_class : "form-add-product"
            %}

          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<style>

  .styleTitleRecomendations {
    color: {{ section.settings.color_title_recomendations }};
    font-size: {{ section.settings.size_title_recomendations }}px;
  }

  @media screen and (max-width: 600px) {
   .styleTitleRecomendations {
      font-size: {{ section.settings.size_title_recomendations_movil }}px;
    } 
  }

</style>


{% schema %}
{
  "name": {
    "en": "Recommendations by tag",
    "fr": "Recommandations by tag"
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading",
        "fr": "En-tête"
      },
      "default": {
        "en": "You may also like",
        "fr": "Vous pourriez aimer également"
      }
    },
    {
      "type": "range",
      "id": "size_title_recomendations",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size in title (H2)",
      "default": 30
    },
    {
      "type": "range",
      "id": "size_title_recomendations_movil",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size in title - movil (H2)",
      "default": 30
    },
    {
      "type": "color",
      "id": "color_title_recomendations",
      "label": "Colo text in title (H2)",
      "default": "#000"
    }
  ]
}
{% endschema %}